body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/previous.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 25px;
}

.section {
    padding: 125px 0;
}

.skillIcon {
    width: 210px;
    height: 150px
}

.card {
    ;
    border-style: none;
}

.card-title {
    text-align: center
}

.skillsHeader {
    margin-bottom: 1.5em;
}

.html {
    width: 100%
}

.contactButton {
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 4px;
    background: linear-gradient(to right, #fe8c00, #f83600);
    color: white;
}

.contactButton:hover {
    text-decoration: none;
    color: white;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%
}

.card-body {
    text-align: center
}

.card-text {
    color: black;
}

.hvr-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    text-decoration: none;
}

.typed2 {
    height: 100px;
}

#navigation {
    background: linear-gradient(to right, #fe8c00, #f83600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 40px;
    z-index: 10;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: white;
}

.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-toggler-icon {
    background: url("https://img.icons8.com/windows/32/000000/menu.png")
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

.nav-link {
    color: black;
}

@media (max-width: 979px) {
    .x-navbar-fixed-top, .x-navbar-fixed-left, .x-navbar-fixed-right {
    position: fixed;
    }
    }
